<header>
  <button mat-button class="menu-button" (click)="sidenav.toggle()">
    <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
  </button>

  <a class="lang" routerLink="/homepage"><span (click)="onLang()"><img src="https://i.ibb.co/bHFdVXW/NL.png"> / <img
        src="https://i.ibb.co/p1dH7rY/FR.png" alt=""></span></a>

</header>
<mat-sidenav-container style="background:none" class="sidenav-container">
  <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav"
    (click)="onSidenavClick()">
    <a mat-button routerLink="/homepage">Home</a>
    <a mat-button routerLink="/history">History</a>
    <a mat-button routerLink="/po">Purchase Order</a>
    <a mat-button routerLink="/invoice">Invoice</a>
    <a mat-button routerLink="/vendor">Vendor</a>
    <a mat-button routerLink="/vendor-history">Vendor History</a>
    <a mat-button routerLink="/login">Manage</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>