<form #f="ngForm" (ngSubmit)="onSubmit()">
  <label for="">Klant Nr.</label>
  <select name="" id="">
    <option *ngFor="let klant of klanten" [value]="klant">{{klant}}</option>
  </select>
  <br>
  <label for="">Klant Naam</label>
  <select name="" id="">
    <option *ngFor="let klant of klanten_naam" [value]="klant">{{klant}}</option>
  </select>
  <br>
  <label for="">Bedrag</label>
  <input type="number">
  <br>
  <label for="">Label</label>
  <input type="text">
  <br>
  <button type="submit">Sturen</button>
</form>