<div [@fadeInLeftOnEnter] *ngIf="!sent" class="container">
    <div class="row">
        <div class="col-xs-12">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="example-form">
                <h1 class="lead">Aanvraagformulier COOP PO</h1>
                <div class="container"> <p><em style="font-size:xx-small;">Caution! Your actions are being recorded. Sending from IP Address : {{ipAddress}}</em></p></div>  
                <mat-form-field [@fadeInLeftOnEnter] 
                  style="width: 100%" appearance="fill">
                    <mat-label>PO is ...</mat-label>
                    <mat-select matInput
                    [(ngModel)]="u_potype"
                    (ngModelChange)="potype()"
                    name="u_potype"  required>
                      <mat-option *ngFor="let potype of filteredOptions7 | async" [value]="potype">
                        {{potype}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field [@fadeInLeftOnEnter] *ngIf="isPro" class="example-full-width" appearance="fill">
                  <mat-label>Ik ben...</mat-label>
                  <input required type="text"
                         placeholder="Pick one"
                         aria-label="Number"
                         matInput
                         [(ngModel)]="u_worker"
                         name="u_worker"
                         [formControl]="myControl6"
                         [matAutocomplete]="auto6">
                  <mat-autocomplete #auto6="matAutocomplete">
                    <mat-option *ngFor="let worker of filteredOptions6 | async" [value]="worker">
                      {{worker}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field [@fadeInLeftOnEnter] *ngIf="isConsumer" class="example-full-width" appearance="fill">
                  <mat-label>Ik ben ..</mat-label>
                  <input required type="text"
                         placeholder="Pick one"
                         aria-label="Number"
                         matInput
                         [(ngModel)]="u_worker"
                         name="u_worker"
                         [formControl]="myControl8"
                         [matAutocomplete]="auto6">
                  <mat-autocomplete #auto6="matAutocomplete">
                    <mat-option *ngFor="let worker of filteredOptions8 | async" [value]="worker">
                      {{worker}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field [@fadeInLeftOnEnter] *ngIf="isWorker"   class="example-full-width" appearance="fill">
                  <mat-label>Ik verkoop...</mat-label>
                  <input required type="text"
                         placeholder="Pick one"
                         aria-label="Number"
                         matInput
                         [formControl]="myControl3"
                         [matAutocomplete]="auto3"
                         [(ngModel)]="u_merk"
                         name="u_merk">
                  <mat-autocomplete #auto3="matAutocomplete">
                    <mat-option *ngFor="let klant of filteredOptions3 | async" [value]="klant">
                      {{klant}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field [@fadeInLeftOnEnter] *ngIf="isVerkoper"
                  style="width: 100%" appearance="fill">
                    <mat-label>Land PO</mat-label>
                    <mat-select matInput
                    [(ngModel)]="u_land"
                    (ngModelChange)="landtype()"
                    name="u_land"  required>
                      <mat-option *ngFor="let land of filteredOptions5 | async" [value]="land">
                        {{land}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field [@fadeInLeftOnEnter] *ngIf="isLand"  class="example-full-width" appearance="fill">
                    <mat-label>Klant Naam</mat-label>
                    <input required type="text"
                           placeholder="Pick one"
                           aria-label="Number"
                           matInput
                           #klantnaam
                           [(ngModel)]="u_klantnaam"
                           name="u_klantnaam"
                           [formControl]="myControl2"
                           [matAutocomplete]="auto2">
                    <mat-autocomplete #auto2="matAutocomplete">
                      <mat-option *ngFor="let klant of filteredOptions2 | async" [value]="klant">
                        {{klant}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                <mat-form-field [@fadeInLeftOnEnter]  class="example-full-width" appearance="fill">
                  <mat-label>Klant Nummer</mat-label>
                  <input required type="text"
                         placeholder="Pick one"
                         aria-label="Number"
                         matInput
                         [formControl]="myControl"
                         [(ngModel)]="u_klantnr"
                         name="u_klantnr"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let klant of filteredOptions | async" [value]="klant">
                      {{klant}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div *ngIf="u_klantnaam !== ''">
                  <mat-card style="font-size:xx-small"><ul>Controleer of klant juist is:</ul>
                    <li>Street: {{full_company_details[0].company_street}} {{full_company_details[0].company_number}}</li>
                    <li>City: {{full_company_details[0].company_city}}</li>
                  <li>Postal Code: {{full_company_details[0].company_zip}}</li>
                  <li>Country: {{full_company_details[0].company_country}}</li>
                  <li>Vendor: {{full_company_details[0].company_vendor_id}}</li>
                  </mat-card>

                </div>
                <mat-form-field [@fadeInLeftOnEnter] class="example-full-width" appearance="fill">
                    <mat-label>Bedrag excl btw (€)</mat-label>
                    <input 
                    min="50"
                    max="89000"
                    required type="number"
                           placeholder="Write here"
                           aria-label="Number"
                           matInput
                           [(ngModel)]="u_bedrag"
                           name="u_bedrag"
                           >
                   
                  </mat-form-field>
                  <mat-form-field [@fadeInLeftOnEnter]  class="example-full-width" appearance="fill">
                    <mat-label>Omschrijving</mat-label>
                    <input required type="text"
                           placeholder="Write here"
                           aria-label="Number"
                           matInput
                           [(ngModel)]="u_omschrijving"
                           name="u_omschrijving">
                  </mat-form-field>
                  
                  <mat-form-field [@fadeInLeftOnEnter] 
                  style="width: 100%"
                  matTooltip="Telt voor afleveringsdatum van de afspraak" 
                  matTooltipPosition="left" appearance="fill">
                    <mat-label>Uitvoeringsdatum</mat-label>
                    <mat-select matInput
                    [(ngModel)]="u_datum"
                    name="u_klantnaam"  required>
                      <mat-option *ngFor="let maand of filteredOptions4 | async" [value]="maand">
                        {{maand}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  <button [disabled]="!f.valid" type="submit" mat-raised-button color="accent">Verzenden</button>
              </form>
              
        </div>
    </div>
</div>
<div style="margin-top: 10%" *ngIf="sent" class="container loading">
  <div class="row justify-content-center">
    <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <h1 *ngIf="!exit">Aan het laden...</h1>
    <h1 *ngIf="exit">Alles in orde. Je mag dit venster sluiten.</h1>
  </div>
</div>