<div [@fadeInLeftOnEnter] *ngIf="!sent" class="container">
  <div class="row">
    <div class="col-xs-12">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="example-form">
        <h1 class="lead">{{'titleKey'|translate}}</h1>
        <div class="container">
          <p><em style="font-size:xx-small;">{{'subtitleKey'|translate}}{{ipAddress}}</em></p>
        </div>
        <mat-form-field [@fadeInLeftOnEnter] class="example-full-width" appearance="fill">
          <mat-label>{{'q2'|translate}}</mat-label>
          <input required type="text" placeholder="Pick one" aria-label="Number" matInput [(ngModel)]="u_worker"
            name="u_worker" [formControl]="myControl6">
        </mat-form-field>
        <mat-form-field [@fadeInLeftOnEnter] *ngIf="isWorker" class="example-full-width" appearance="fill">
          <mat-label>{{'q3'|translate}}</mat-label>
          <input required type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl3"
            [matAutocomplete]="auto3" [(ngModel)]="u_merk" name="u_merk">
          <mat-autocomplete #auto3="matAutocomplete">
            <mat-option *ngFor="let klant of filteredOptions3 | async" [value]="klant">
              {{klant}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field [@fadeInLeftOnEnter] style="width: 100%" appearance="fill">
          <mat-label>{{'q4'|translate}}</mat-label>
          <mat-select matInput [(ngModel)]="u_land" (ngModelChange)="landtype()" name="u_land" required>
            <mat-option *ngFor="let land of filteredOptions5 | async" [value]="land">
              {{land}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [@fadeInLeftOnEnter] class="example-full-width" appearance="fill">
          <mat-label>{{'q5'|translate}}</mat-label>
          <input required type="text" placeholder="Pick one" aria-label="Number" matInput #klantnaam
            [(ngModel)]="u_klantnaam" (ngModelChange)="klant()" name="u_klantnaam" [formControl]="myControl2"
            [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let klant of filteredOptions2 | async" [value]="klant">
              {{klant}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <pre [@bounceOnEnter] [@bounceOutOnLeave] *ngIf="isBackendDown"
          style="color: red">Krijg je niks? Laad de pagina opnieuw... (F5)</pre>
        <pre style="color: red; font-weight:bold"
          *ngIf="isNewVendor&&isLand&&isVerkoper&&isWorker">"{{u_klantnaam}}" <br> {{'h1'|translate}} <a routerLink="/vendor">{{'h2'|translate}}</a>. </pre>
        <pre style="color: red;" *ngIf="isOutdatedVendor&&isLand&&isVerkoper&&isWorker">{{'h3'|translate}}</pre>
        <mat-form-field *ngIf="isKlant&&isLand&&isVerkoper&&isWorker" [@fadeInLeftOnEnter] class="example-full-width"
          appearance="fill">
          <mat-label>
            <div *ngIf="!split">{{'q6'|translate}}</div>
            <div class="text-danger" *ngIf="split">Eerste bedrag</div>
          </mat-label>
          <input min="50" max="89000" required type="number" placeholder="Write here" aria-label="Number" matInput
            [(ngModel)]="u_bedrag" [formControl]="myControl9" name="u_bedrag">
          <div class="d-grid gap-2 d-md-block mt-3">
            <button *ngIf="!isOmschrijving" [@fadeInLeftOnEnter] style="margin: 20px;" (click)="enableSplitPo()"
              [ngClass]="[!split ? 'btn-dark' : 'btn-outline-dark']" class="btn" type="button">
              <span *ngIf="!split">SPLIT</span><span *ngIf="split">NO SPLIT</span></button>
          </div>
        </mat-form-field>
        <div *ngIf="split">
          <mat-form-field [@fadeInLeftOnEnter] style="width: 100%" appearance="fill">
            <mat-label>Hoeveel splits?</mat-label>
            <mat-select matInput [(ngModel)]="u_split_n" (ngModelChange)="split_n()" name="u_split_n" required>
              <mat-option *ngFor="let n of filteredOptionsSplitN | async" [value]="n">
                {{n}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="split2||split3" class="mybg2 text-white">
            <mat-form-field [@fadeInLeftOnEnter] class="example-full-width" appearance="fill">
              <mat-label class="text-danger">Tweede bedrag</mat-label>
              <input min="50" max="89000" required type="number" placeholder="Write here" aria-label="Number" matInput
                [(ngModel)]="u_bedrag_2" [formControl]="myControl9_2" name="u_bedrag_2">
            </mat-form-field>
            <mat-form-field [@fadeInLeftOnEnter] class="example-full-width" appearance="fill">
              <mat-label class="text-danger">Tweede unit</mat-label>
              <input required type="text" placeholder="Pick one" aria-label="Number" matInput
                [formControl]="myControl3_2" [matAutocomplete]="auto3_2" [(ngModel)]="u_merk_2" name="u_merk_2">
              <mat-autocomplete #auto3_2="matAutocomplete">
                <mat-option *ngFor="let klant of filteredOptions3_2 | async" [value]="klant">
                  {{klant}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div *ngIf="split3" class="mybg3 text-white">
            <mat-form-field [@fadeInLeftOnEnter] class="example-full-width" appearance="fill">
              <mat-label class="text-danger">Derde bedrag</mat-label>
              <input min="50" max="89000" required type="number" placeholder="Write here" aria-label="Number" matInput
                [(ngModel)]="u_bedrag_3" [formControl]="myControl9_3" name="u_bedrag_3">
            </mat-form-field>
            <mat-form-field [@fadeInLeftOnEnter] class="example-full-width" appearance="fill">
              <mat-label class="text-danger">Derde unit</mat-label>
              <input required type="text" placeholder="Pick one" aria-label="Number" matInput
                [formControl]="myControl3_3" [matAutocomplete]="auto3_3" [(ngModel)]="u_merk_3" name="u_merk_3">
              <mat-autocomplete #auto3_3="matAutocomplete">
                <mat-option *ngFor="let klant of filteredOptions3_3 | async" [value]="klant">
                  {{klant}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="!split">
          <mat-form-field *ngIf="isBedrag&&isKlant&&isLand&&isVerkoper&&isWorker" [@fadeInLeftOnEnter]
            class="example-full-width" appearance="fill">
            <mat-label>{{'q7'|translate}}</mat-label>
            <input required type="text" placeholder="Write here" aria-label="Number" matInput
              [(ngModel)]="u_omschrijving" [formControl]="myControl10" name="u_omschrijving" [matAutocomplete]="auto10">
              <mat-autocomplete #auto10="matAutocomplete">
                <mat-option *ngFor="let oms of filteredOptions10 | async" [value]="oms">
                  {{oms}}
                </mat-option>
                </mat-autocomplete>
              <pre>Tot 40 tekens / Jusqu'à 40 caractères</pre>
          </mat-form-field>
          <mat-form-field [@fadeInLeftOnEnter] *ngIf="isOmschrijving&&isBedrag&&isKlant&&isLand&&isVerkoper&&isWorker"
            style="width: 100%" matTooltip="Telt voor afleveringsdatum van de afspraak" matTooltipPosition="left"
            appearance="fill">
            <mat-label>{{'q8'|translate}}</mat-label>
            <mat-select matInput [(ngModel)]="u_datum" name="u_klantnaam" required>
              <mat-option *ngFor="let maand of filteredOptions4 | async" [value]="maand">
                {{maand}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button [disabled]="!isWorker||!isVerkoper||!isLand||!isKlant||!isBedrag||!isOmschrijving||!f.valid"
            type="submit" mat-raised-button color="accent">{{'q9'|translate}}</button>
          <button style="margin-left:9px" [disabled]="!isWorker" type="button" mat-stroked-button color="warn"
            (click)="onCancel(f)">{{'q10'|translate}}</button>
        </div>
        <div *ngIf="split">
          <mat-form-field *ngIf="isBedrag_2&&isBedrag&&isKlant&&isLand&&isVerkoper&&isWorker" [@fadeInLeftOnEnter]
            class="example-full-width" appearance="fill">
            <mat-label>{{'q7'|translate}}</mat-label>
            <input required type="text" placeholder="Write here" aria-label="Number" matInput
              [(ngModel)]="u_omschrijving" [formControl]="myControl10" name="u_omschrijving">
            <pre>Tot 40 tekens</pre>
          </mat-form-field>

          <mat-form-field [@fadeInLeftOnEnter]
            *ngIf="isOmschrijving&&isBedrag_2&&isBedrag&&isKlant&&isLand&&isVerkoper&&isWorker" style="width: 100%"
            matTooltip="Telt voor afleveringsdatum van de afspraak" matTooltipPosition="left" appearance="fill">
            <mat-label>{{'q8'|translate}}</mat-label>
            <mat-select matInput [(ngModel)]="u_datum" name="u_klantnaam" required>
              <mat-option *ngFor="let maand of filteredOptions4 | async" [value]="maand">
                {{maand}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button
            [disabled]="!isWorker||!isVerkoper||!isLand||!isKlant||!isBedrag_2||!isBedrag||!isOmschrijving||!f.valid"
            type="submit" mat-raised-button color="accent">{{'q9'|translate}}</button>
          <button style="margin-left:9px" [disabled]="!isWorker" type="button" mat-stroked-button color="warn"
            (click)="onCancel(f)">{{'q10'|translate}}</button>
        </div>
      </form>

    </div>
  </div>
</div>
<div style="margin-top: 10%" *ngIf="sent" class="container loading">
  <div class="row justify-content-center">
    <div *ngIf="!exit" class="lds-grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <svg *ngIf="exit" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
    <h1 *ngIf="!exit">Aan het laden...</h1>
    <h1 *ngIf="exit">Alles in orde. Je mag dit venster sluiten.</h1>
  </div>
</div>