.terug-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  border-radius: 50%;
  z-index: 100;
}
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  margin: 40px 0px;
}

td, th {
  width: 25%;
}
