<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort
        (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="requested_by">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>By</th>
          <td mat-cell *matCellDef="let element"> {{element.requested_by}} </td>
        </ng-container>

        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let element"> {{element.datum}} </td>
        </ng-container>

        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Biz</th>
          <td mat-cell *matCellDef="let element"> {{element.company}} </td>
        </ng-container>

        <ng-container matColumnDef="company_code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Land</th>
          <td mat-cell *matCellDef="let element"> {{element.company_code}} </td>
        </ng-container>

        <ng-container matColumnDef="short_text">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
          <td mat-cell *matCellDef="let element"> {{element.short_text}} </td>
        </ng-container>

        <ng-container matColumnDef="overall_limit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUM</th>
          <td mat-cell *matCellDef="let element"> {{element.overall_limit}} </td>
        </ng-container>

        <ng-container matColumnDef="gr_execution_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>GR</th>
          <td mat-cell *matCellDef="let element"> {{element.gr_execution_date}} </td>
        </ng-container>

        <ng-container matColumnDef="sbu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SBU</th>
          <td mat-cell *matCellDef="let element"> {{element.sbu}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="gr">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>GR</th>
          <td mat-cell *matCellDef="let element"> {{element.gr}} </td>
        </ng-container>

        <ng-container matColumnDef="invoice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice</th>
          <td mat-cell *matCellDef="let element"> {{element.invoice}} </td>
        </ng-container>

        <ng-container matColumnDef="betaald">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Paid</th>
          <td mat-cell *matCellDef="let element"> {{element.betaald}} </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row"
              (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
              <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <div class="example-element-name"> {{element.name}} </div>
                <div class="example-element-weight"> {{element.weight}} </div>
                <img src="{{element.invoice}}" alt="Invoice" width="200" height="200">
              </div>
              <div class="example-element-description">
                {{element.description}}
                <div>Time since invoice: {{ timeSinceInvoice(element.invoice) }}</div>
              </div>
              <div class="example-element-description">
                {{element.description}}
                <button (click)="notifyOverduePayment()">Notify Overdue Payment</button>
              </div>
              <div class="example-element-description">
                {{element.description}}
                <button (click)="dummy()">Cancel PO</button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>
<app-multi></app-multi>