<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form #f="ngForm" (ngSubmit)="1" class="example-form">
        <h1 class="lead">Kies een actie</h1>
        <pre [@bounceOnEnter] [@bounceOutOnLeave] *ngIf="isBackendDown"
          style="color: red">Krijg je niks? Laad de pagina opnieuw... (F5)</pre>
        <div class="container">
          <div *ngIf="!wantsToEdit&&!wantsToAdd&&!wantsToPO">
            <button (click)="onUserWantsToEdit()" type="button" mat-raised-button color="accent">Een klant
              aanpassen/verwijderen</button>
            <button (click)="onUserWantsToAdd()" type="button" mat-raised-button color="accent">Een nieuwe klant
              toevoegen</button>
              <button (click)="onUserWantsToPO()" type="button" mat-raised-button color="accent">Manage P.O.</button>
          </div>
          <div *ngIf="wantsToAdd">
            <mat-form-field [@fadeInLeftOnEnter] class="example-full-width" appearance="fill">
              <mat-label>Nieuwe gegevens Klant</mat-label>
              <input required type="text" placeholder="Pick one" aria-label="Number" matInput #edit_klantnaam="ngModel"
                [(ngModel)]="u_new_klantnaam" name="u_edit_klantnaam">
            </mat-form-field>
            <button (click)="onUserAddClick()" [disabled]="!f.valid" type="button" mat-raised-button
              color="primary">Toevoegen</button>
            <pre [@bounceOnEnter] [@bounceOutOnLeave] *ngIf="isBezig"
              style="color: white;background: black;">Bezig... ({{s}}s)</pre>
          </div>
          <mat-form-field [@fadeInLeftOnEnter] *ngIf="wantsToEdit" class="example-full-width" appearance="fill">
            <mat-label>{{'q5'|translate}}</mat-label>
            <input required type="text" placeholder="Pick one" aria-label="Number" matInput #klantnaam
              [(ngModel)]="u_klantnaam" name="u_klantnaam" [formControl]="myControl2" [matAutocomplete]="auto2">
            <mat-autocomplete #auto2="matAutocomplete">
              <mat-option *ngFor="let klant of filteredOptions2 | async" [value]="klant">
                {{klant}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div *ngIf="isKlant">
            <h3>Wat wil je doen?</h3>
            <div *ngIf="isEditing">
              <mat-form-field [@fadeInLeftOnEnter] class="example-full-width" appearance="fill">
                <mat-label>Nieuwe gegevens Klant</mat-label>
                <input required type="text" placeholder="Pick one" aria-label="Number" matInput
                  #edit_klantnaam="ngModel" [(ngModel)]="u_new_klantnaam" name="u_edit_klantnaam">
              </mat-form-field>
              <button (click)="onUserEditClick()" [disabled]="!f.valid" type="button" mat-raised-button
                color="primary">Verzenden</button>
            </div>
            <button (click)="onUserClick()" [disabled]="!f.valid" type="button" mat-raised-button
              color="accent">Aanpassen</button>
            <button (click)="onUserDeleteClick()" [disabled]="!f.valid" type="button" mat-raised-button
              color="warn">Verwijderen</button>
            <pre [@bounceOnEnter] [@bounceOutOnLeave] *ngIf="isBezig"
              style="color: white;background: black;">Bezig... ({{s}}s)</pre>
          </div>
          <!-- PO -->
          <mat-form-field [@fadeInLeftOnEnter] *ngIf="wantsToPO" class="example-full-width" appearance="fill">
            <mat-label>Enter ID</mat-label>
            <input required type="text" placeholder="Pick one" aria-label="Number" matInput #klantnaam
              [(ngModel)]="u_ID" name="u_ID" [formControl]="myControl3" [matAutocomplete]="auto3">
            <mat-autocomplete #auto3="matAutocomplete">
              <mat-option *ngFor="let ID of filteredOptions3 | async" [value]="ID">
                {{ID}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div *ngIf="isID">
            <h3>Wat wil je doen?</h3>
            <div *ngIf="isPOEditing">
              <mat-form-field [@fadeInLeftOnEnter] class="example-full-width" appearance="fill">
                <mat-label>PO Nr</mat-label>
                <input required type="text" placeholder="Pick one" aria-label="Number" matInput
                  #edit_klantnaam="ngModel" [(ngModel)]="u_new_klantnaam" name="u_edit_klantnaam">
              </mat-form-field>
              <button (click)="onUserPOEditClick()" [disabled]="!f.valid" type="button" mat-raised-button
                color="primary">Send</button>
              </div>
            <button (click)="onUserPOClick()" [disabled]="!f.valid" type="button" mat-raised-button
              color="accent">PO Nr.</button>
            <button (click)="onUserPODeleteClick()" [disabled]="!f.valid" type="button" mat-raised-button
              color="warn">PO Archiveren</button>
              <pre [@bounceOnEnter] [@bounceOutOnLeave] *ngIf="isBezig"
                style="color: white;background: black;">Bezig... ({{s}}s)</pre>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>