.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .short-txt
  {
    font-size: xx-small;
  }

  .example-box {
    color: white;
    background: black;
  }

  *
  {
    text-align: center;
    margin:0 auto
  }
  form
{   
    padding: 30px;
}
*
{
    background: gainsboro;
    color: black;
}
button
{
  margin: 20px;
}