.mat-elevation-z8 {
    font-size: 14px;
    width: 100%;
    background: rgb(118, 118, 118);
    margin: 40px 0px;
  }
  
  td,
  th {
    width: 1%;
  }

  span{
    color: rgb(245, 192, 56);
  }

.terug-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  border-radius: 50%;
  z-index: 100;
}
