<video autoplay muted loop id="myVideo">
  <source src="https://files.catbox.moe/m0npid.mp4" type="video/mp4">
</video>
<div class="container-fluid py-5" style="background-color: transparent;">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4" style="background-color: white;">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="text-center mb-4">
            <img src="https://www.stanleyblackanddecker.com/themes/custom/stanley_default/logo.svg" alt="Logo"
              class="img-fluid" style="max-width: 150px;">
          </div>
          <h3 class="text-center mb-4">Welcome back</h3>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group mb-4">
              <label for="username">Email or username</label>
              <input type="text" id="username" class="form-control" [(ngModel)]="u_username" name="username"
                placeholder="Jan.Peeters@domein.com" required>
            </div>
            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" ngModel name="password"
                placeholder="************" required>
            </div>
            <div class="text-center mb-4">
              <a id="aresetLink" (click)="onRecoverPWD(pwdHelpTxt)" class="btn btn-link text-muted" routerLink="/">{{
                pwdHelpTxt }}</a>
            </div>
            <div class="text-center">
              <button class="btn btn-dark px-5" [disabled]="!f.valid">Login</button>
            </div>
            <p *ngIf="isLoggedIn" class="small text-center mt-3">Logged in. <em>Redirecting...</em></p>
            <p *ngIf="isInvalid" class="small text-center mt-3">You do not have access. <em>Redirecting...</em></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>