.container-fluid {
  background-color: transparent;
}

.col-12.col-md-6.col-lg-4 {
  background-color: white;
}

.card {
  border: none;
  border-radius: 0.5rem;
}

.form-group {
  position: relative;
}

.form-group label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 14px;
}

.form-control {
  height: 50px;
  border: 2px solid #eee;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #000;
}

.btn {
  height: 50px;
}

.small {
  font-size: 0.875rem;
}

input.ng-invalid.ng-touched,
.invalid {
  border: 1px solid red;
}