<div class="container-fluid datepicker w-25 p-3">
  <div class="row">
    <div class="col-xs-12">
      <h3>
        Internal login
      </h3>
      <p>Please log in :</p>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-xs-12 form-group">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="forms-inputs mb-4">
          <span>Email or username</span>
          <input class="form-control" type="text" [(ngModel)]="u_username" name="username"
            placeholder="Jan.Peeters@domein.com" required>
        </div>
        <div class="forms-inputs mb-4">
          <span>Password</span>
          <input class="form-control" type="password" ngModel name="password" placeholder="************" required>
          <a id="aresetLink" (click)="onRecoverPWD(pwdHelpTxt)" style="color:gray;float:right" routerLink="/">
            <p class="ffs">{{pwdHelpTxt}}</p>
          </a>
        </div>
        <div class="mb-3">
          <button class="btn btn-dark w-100" [disabled]="!f.valid">Login</button>
          <p *ngIf="isLoggedIn" class="ffs">Logged in. <em>Redirecting...</em></p>
          <p *ngIf="isInvalid" class="ffs">You do not have access. <em>Redirecting...</em></p>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col xs 12">
    </div>
  </div>
</div>